.dr--primary-button {
    position: relative;
    width: 13rem;
    height: 3rem;
    display: flex;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    background-color: $red_violet;
    color: $white;
    border: 1px solid transparent;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    letter-spacing: 0.1rem;
    &:hover {
        border: 1px solid $red_violet;
        color: $red_violet;
        background-color: transparent;
        outline: none;
    }
    &:focus {
        outline: none !important;
    }
}
