.footer {
    padding: 6rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $blue;
    &--top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--logo {
            svg {
                width: 7rem;
            }
        }
        &--data {
            p {
                margin: 0 0 0 auto;
                line-height: 2rem;
                text-decoration-line: underline;
                color: $white;
                text-align: right;
                span {
                    display: block;
                    &:nth-last-child(1) {
                        position: relative;
                        margin-top: 1rem;
                    }
                }
            }
        }

    }
    &--bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            @include breakpoint(mobile){
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
            li {
                margin: 0 1rem;
                position: relative;
                &:not(:nth-child(1)) {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 0.1rem;
                        left: -1rem;
                        top: 0;
                        background-color: #edebeb;
                    }
                }
                @include breakpoint(mobile){
                    &::before {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 0.1rem;
                        left: -1rem;
                        top: 0;
                        background-color: #edebeb;
                    }
                }
                @include breakpoint(mobile){
                    flex-direction: column;
                    justify-content: flex-start;
                    margin: 0.5rem 0;
                }
                a {
                    text-decoration: none;
                    color: #edebeb;
                    font-size: 1rem;
                    @include breakpoint(tablet){
                        font-size: 0.65rem;
                    }
                    @include breakpoint(mobile){
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }
}
