.features {
    padding: 6rem 0;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        left: 0;
        bottom:0 ;
        height: 65%;
        width: 100%;
        background-color: $grey;
    }
    &--content {
        position: relative;
        z-index: 2;
    }
}
