.video--insights{
    padding: 6rem 0;
    position: relative;
    background-color: $grey;
    margin-top: 5rem;
    &--cards--container{
        position: relative;
        margin-top: 4rem;
    }
  
}